.about{
margin-top: -274px;


}

.about__wrap{
    border-radius: 6px;
background: #252525;
width: 1110px;
height: 736px;
padding-top: 60px;
margin-right: auto;
margin-left: auto;

}

.about__title{
// margin-top: 60px;


    color: #D9D9D9;
font-family: Helvetica Neue;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 60px; /* 200% */
letter-spacing: 6px;
text-align: center;

background-image:  url(../image/about-bg.png);
// max-width: 100%;
margin-left: auto;
margin-right: auto;
background-position: center;
// background-size: cover;
background-repeat: no-repeat;
}

.about__text{
    color: #A6A6A6;
text-align: center;
font-family: Helvetica Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;

margin-top: 61px;


}

.about__img{
    display: flex;
    gap: 34px;
    margin-top: 90px;
    margin-left: 185px;
    margin-right: auto;
}