.dishes__title{
    color: #D9D9D9;
text-align: center;
font-family: Helvetica Neue;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px;
letter-spacing: 7.2px;
background-image: url(../image/dishes-bg.png);
margin-left: auto;
margin-right: auto;
background-position: center;
background-repeat: no-repeat;
}

.dishes__title::after{
	content: "";
	display: block;
	background-color:#34C759;
	height: 2px;
	width: 60px;
    margin-right: auto;
    margin-left: auto;
}

.dishes__list{
    margin-top: 90px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.dishes__thumb{
    width: 350px;
height: 493px;
border-radius: 6px;
background: #252525;

}

.dishes__card{
    padding: 29px 30px 28px 30px;
}

.dishes__img{
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.dishes__pretitle{
    color: #D9D9D9;
font-family: Helvetica Neue;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 30px;
// margin-top: 29px;
}

.dishes__text{
    color: #A4A8B2;
font-family: Helvetica Neue;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.15px;
}

.dishes__pretext{
    color: #85878C;
font-family: Helvetica Neue;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.162px;

margin-top: 20px;
}

.dishes-btn{
  border-radius: 43px;
   min-width: 100px;
height: 40px;
    cursor: pointer;
background-color: #262626;
    color: rgba(255, 255, 255, 0.50);

    text-align: center;
    font-family: Helvetica Neue;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;

margin-top: 20px;
margin-left: 196px;

}

.dishes-btn:hover{
    background-color: #34C759;
    color:  #252525;
}