.recipes__title{
    color: #D9D9D9;

text-align: center;
font-family: Helvetica Neue;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px; 
letter-spacing: 7.2px;

background-image: url(../image/recipes-bg.jpg);
margin-left: auto;
margin-right: auto;
background-position: center;
background-repeat: no-repeat;
}

.recipes__title::after{
	content: "";
	display: block;
	background-color:#34C759;
	height: 2px;
	width: 60px;
    margin-right: auto;
    margin-left: auto;
}

.recipes__breakfast{
    border-radius: 6px;
    padding: 65px 60px;
    width: 540px;
    height: 510px;
    background-image:linear-gradient(180deg, rgba(38, 38, 38, 0.00) 0%, rgba(38, 38, 38, 0.50) 100%), url(../image/recipes-breakfast.jpg);
}

.recipes__breakfast-btn{
    // width: 90px;
    color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 25px;
letter-spacing: 1.25px;
text-transform: uppercase;
background-image: url(../image/breakfast-color.png);

background-position: center;
background-repeat: no-repeat;

}

.recipes__breakfast-date{
    margin-top: 60px;
    color: #FFF;

font-family: Helvetica Neue;
font-size: 14px;
text-align: center;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.recipes__breakfast-pretext{
    margin-top: 25px;
    color: #FFF;

text-align: center;
font-family: Helvetica Neue;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}

.recipes__breakfast-text{
    margin-top: 45px;
    color: #FFF;

font-family: Helvetica Neue;
font-size: 14px;
text-align: center;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.recipes__wrap{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 90px;
}

.recipes__lunch{
    width: 540px;
    height: 150px;

    border-radius: 6px;
background: #252525;
padding: 30px 20px 25px 30px;

}

.recipes__lunch-text{
    color: #FFF;

font-family: Helvetica Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}

.recipes__text-wrap{
    display: flex;
    margin-top: 10px;
}

.recipes__lunch-pretext{
margin-right: 20px;

    color: #FFF;

font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 25px;
letter-spacing: 1.25px;
text-transform: uppercase;

background-image: url(../image/breakfast-color.png);

background-position: center;
background-repeat: no-repeat;

}

.recipes__lunch-date{
    color: #B3B3B3;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

}



.recipes__dinner{
    margin-top: 30px;
    width: 540px;
    height: 150px;
    padding: 30px 20px 25px 30px;
    border-radius: 6px;
    background-image: url(../image/dinner-bg.png);
}

.recipes__dinner-text{
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.recipes__dinner-pretext{
    margin-right: 20px;
    color: #FFF;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    background-image: url(../image/breakfast-color.png);

background-position: center;
background-repeat: no-repeat;
}

.recipes__dinner-date{
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.recipes__sweets{
    margin-top: 30px;
    background: #34C759;

    width: 540px;
    height: 150px;
    padding: 30px 20px 25px 30px;
    border-radius: 6px;
    
}

.recipes__sweets-text{
    color: #252525;
font-family: Helvetica Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.recipes__sweets-pretext{
    margin-right: 20px;

    color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 10px;
font-style: normal;
font-weight: 900;
line-height: 25px;
letter-spacing: 1.25px;
text-transform: uppercase;
    background-image: url(../image/breakfast-color.png);

background-position: center;
background-repeat: no-repeat;
}

.recipes__sweets-date{
    color: #1A1A1A;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}