// .work{
//     display: flex;
// }


.work__title{
    color: #D9D9D9;
text-align: center;
font-family: Helvetica Neue;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 90px;
letter-spacing: 7.2px;
text-transform: capitalize;
background-image: url(../image/work-bg.png);
margin-left: auto;
margin-right: auto;
background-position: center;
background-repeat: no-repeat;
}

.work__list{
    display: flex;
    gap: 30px;
    margin-top: 60px;
justify-content: center;
}

.work__thumb{
    width: 255px;
    height: 206px;
    border-radius: 6px;
background: #252525;
padding: 24px 24px 60px 24px ;


}
.work__thumb:hover{
    background:  #34C759;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
}

.work__thumb:hover {
    .work__pretitle{
        color: #191919; 
    }
    .work__text{
        color: #191919;
    }
}


.work__pretitle{
    color: #FFF;
    font-family: Helvetica Neue;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.275px;
    text-transform: capitalize;
}

.work__text{
    color: rgba(255, 255, 255, 0.50);
    font-family: Helvetica Neue;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.162px;
    margin-top: 36px;
}