/* *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
} */



body {
	background: #1A1A1A;
	line-height: 1;
	font-family: "Roboto";
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}

.hero__title{
	color: #FFF;
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 7.2px;
	text-transform: capitalize;	
}

.container{
	width: 1110px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	}