@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('./fonts/HelveticaNeueBoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('./fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('./fonts/HelveticaNeueBlackCondensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root{
--primary-color:rgba(52, 199, 89, 1);
--secondary-color: rgba(255, 255, 255, 1);
--black-color: rgba(26, 26, 26, 1);
--dark-grey-color:rgba(37, 37, 37, 1);
--light-gray-color:rgba(115, 115, 115, 1);



}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}

p, h1, h2, h3, h4 ,h5, h6{
    padding: 0;
    margin: 0;
}


address{
    margin: 0;
    padding: 0;
}
ul{
	list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
}

.link{
    text-decoration: none;
    display: inline-block;
}



body {
	background: #1A1A1A;
	line-height: 1;
	font-family: 'Helvetica Neue';
}
.container{
	width: 1110px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 50px;
}
/* ------------------------------------------------------------- */
.hero{
	max-width: 100%;
	background-image: url(./image/placeholder.jpg);
}
.header-nav{
	
}


.header-nav__item{
	color: #FFF;
font-size: 14px;
font-weight: 700;
line-height: 90px;
display: inline;
}



.hero__title{
	color: #FFF;
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 7.2px;
	text-transform: capitalize;	
}

.hero__text{
	color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: -0.2px;
}

/* .hero-ad{

} */

.hero-ad__item{
	color: #FFF;
	text-align: center;
	font-family: Helvetica Neue;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

.hero-ad__span{
	/* display: flex; */
	width: 122px;
	height: 24px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}
