:root{
    --primary-color:rgba(52, 199, 89, 1);
    --secondary-color: rgba(255, 255, 255, 1);
    --black-color: rgba(26, 26, 26, 1);
    --dark-grey-color:rgba(37, 37, 37, 1);
    --light-gray-color:rgba(115, 115, 115, 1);

    
    }